/** banner-top-area **/
@media(max-width:780px){
    .banner-top-area{
        display: none;
    }
}
/** banner-area-responsive**/
@media(max-width:680px){
    .banner-area::after{
        width: 100%;
        clip-path: none;
    }
    .banner-details{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-text-content{
        order: 1;
    }
    .banner-text-content h1{
        font-size: 26px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    .banner-text-content a{
        padding-top: 10px;
        font-size: 15px;
    }
    .banner-img{
        order: 0;
        margin-bottom: 20px;
    }
    .banner-img img{
        max-height: 320px;
        height: 100%;
    }
}
/** led By Department **/
@media(max-width:430px){
    .section1-top{
        text-align: center;
    }
    .section1-top h2{
        font-size: 19px;
    }
}
@media(max-width:1080px){
    .section1-main{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width:625px){
    .section1-main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:360px){
    .section1-main{
        grid-template-columns: repeat(1, 1fr);
    }
}


/****** Deal Of the Day ***/
@media(max-width:1080px){
    .deal-product-main{
        grid-template-columns:repeat(1, 1fr);
    }
    .deal-product-details{
        border: none;
    }
}
@media(max-width:756px){
    .deal-product-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .deal-product-img img{
        max-width: 300px;
        width: 100%;
        max-height: 300px;
        margin: auto;
    }
    .clock{
        margin: 0px auto;
        margin-bottom: 20px;
    }
    .time h3{
        font-size:18px;
    }
    .time span{
        font-size: 13px;
    }
    .deal-icon-menu{
        visibility: visible;
        opacity: 1;
    }
    .deal-icon-menu ul li a{
        width: 35px;
        height: 35px;
    }
}
@media(max-width:400px){
    .deal-product-link a{
        font-size: 17px;
        margin-bottom: 15px;
    }
    .deal-product-description p{
        font-size: 15px;
        line-height: 22px;
    }
    .deal-rating{
        margin-bottom: 15px;
    }
    .deal-product-price h3{
        margin-bottom: 15px;
    }
}
/*brand-logo-details***/
@media(max-width:900px){
    .brand-logo-details{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 20px;
    }

}
@media(max-width:750px){
    .brand-logo-details{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 20px;
        width: 100%;
    }

}
@media(max-width:1280px){
    .dealOnPlay-main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:991px){
    .dealOnPlay-main{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:460px){
    .dealOnPlay-title h2{
        font-size: 20px;
    }
    .dealOnPlay-title h4{
        font-size: 14px;
    }
    .dealOnPlay-title a{
        padding: 5px 10px;
        font-size: 14px;
    }
    .dealOnPlay-exchange h4{
        font-size: 14px;
    }
}

/**** section-4-responsive ***/
@media(max-width:1000px){
   
    .section4-cards{
        width: 100%;
    }
}
@media(max-width:991px){
    .section4-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .section4-cards .card:nth-child(2) .card-img{
        border:none;
    }
}
@media(max-width:550px){
    .section4-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .section4-cards .card .card-img{
        border:none;
    }
    .section4-menu{
        padding-bottom: 3vh;
    }
    .section4-menu ul li{
        margin-left: 5px;
    }
    .section4-menu ul li a{
        font-size: 16px;
    }
}

/** card-responsive-area**/
@media(max-width:550px){
    .card{
        text-align: center;
        padding: 20px 20px;
        box-sizing: border-box;
    }
    .card-icon-menu{
        position: relative;
        visibility: visible!important;
        opacity: 1!important;
    }
    .card-price{
        visibility: visible!important;
    }
    .card-icon-menu ul li a{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .card-img{
        border: none;
        height: 200px;
    }
    .card-img img{
        max-height: 180px;
    }
    .card-body{
        width: 100%;
    }
}
/**section5-area **/
@media(max-width:1050px){
    .section5-main{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:850px){
    .section5-main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:550px){
    .section5-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .section5-main .card .card-price{
        visibility: visible!important;
    }
    .section5-main .card{
        text-align: center;
    }
    .electronic-device,.electronic-device1,.electronic-device2{
        width: 80%;
        margin: auto;
        height:400px;
    }
    .section5-main .card .card-icon-menu{
        position: static;
        visibility: visible;
        opacity: 1;
    }
}
@media(max-width:400px){
    .electronic-device,.electronic-device1,.electronic-device2{
        width: 95%;
        padding: 30px;
        height: 400px;
    }
}

/********* section6-main  *******/

@media(max-width:991px){
    .section6-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .section6-main .section6-details{
        margin-bottom: 10px;
    }
}
@media(max-width:520px){
    .section6-details{
        padding: 20px 25px!important;
    }
    .section6-text-details h2{
        font-size: 23px;
        font-weight: 600;
    }
    .section6-text-details h3{
        font-size: 16px;
    }
    .section6-main .section6-details:nth-child(1) .section6-img img{
        max-width: 130px;
        width: 100%;
        height: auto;
    }
}
@media(max-width:420px){
    .section6-details{
        padding: 20px 20px!important;
    }
    .section6-text-details h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
    }
    .section6-text-details h3{
        font-size: 14px;
    }
    .section6-main .section6-details:nth-child(1) .section6-img img{
        max-width: 110px;
        width: 100%;
        height: auto;
    }
}


/****** section-7 ******/
@media(max-width:991px){
    .section7-main{
        grid-template-columns: repeat(2, 1fr);
    }
    .section7-main .card:nth-child(2) .card-img{
        border: none;
    }
}
@media(max-width:550px){
    .section7-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .section7-main .card:nth-child(2) .card-img{
        border: none;
    }
    .section7-title h2{
        font-size: 23px;
    }
    .section7-title{
        padding-bottom: 15px;
    }
    .section-7{
        margin-bottom: 3vh;
    }
}


/********** section-8 **********/
@media(max-width:991px){
    .section8-main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 20px;
    }
    .section8-main .section8-details:nth-child(2){
        border: none;
    }
}
@media(max-width:570px){
    .section8-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 20px;
        border: none;
    }
    .section8-main .section8-details{
        border: none;
    }
    .section8-details{
        display: block!important;
        text-align: center;
    }
    .section8-img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .section8-img img{
        margin: auto;
    }
}

@media(max-width:1150px){
    .footer-main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:800px){
    .footer-main{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media(max-width:650px){
    .footer-main{
        grid-template-columns:repeat(1, 1fr);
    }
    .footer-logo img{
        max-width: 400px;
        width: 100%;
    }
}